<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="YA_TRANSLATION_DIRECTIONS_URL_TMPLT" value="https://translate.yandex.net/api/v1.5/tr.json/getLangs?key={0}&amp;ui=en"/>
  <add key="YA_TRANSLATION_URL_TMPLT" value="https://translate.yandex.net/api/v1.5/tr.json/translate?key={0}&amp;text={1}&amp;lang={2}&amp;format={3}"/>
  <add key="YA_TRANSLATION_API_KEY" value="trnsl.1.1.20140811T121333Z.47505982b20736d7.b9a1d6445c9f0c3f8c684885c03a676a386e7c80"/>
</appSettings>
</configuration>